/* PC */
@media (min-width: 1105px) {
    .InputNombreContactanosPortada {
        width: 100%;
        max-width:300px ;
        border-radius: 50%;
        border: 1px solid #ccc;
      }
      .EstiloColor {
        position: relative; top: -5px;
      }
      .BotonesExtras{
        margin-top: -10px;
      }
      .ContornoFondoTitulo{
        width: 67%; height: 100%;
      }
      .ContornoFondoRedesSociales{
        width: 45%; height: 100%;
      }
      .ContenidoRedesSociales{
        margin-left: 34%;
      }
      .TamañoContenidoRedesSociales{
        width: 100%; height: 100%
      }
      .FondoPantalla{
        min-height:100%;
      }
  }
  
  /* Tablet */
  @media (min-width: 768px) and (max-width: 1204px) {
    .InputNombreContactanosPortada {
        width: 30%;
        border-radius: 50%;
        border: 1px solid #ccc;
      }
      .EstiloColor {
        position: relative; top: -5px;
      }
      .ContornoFondoTitulo{
        width: 80%; height: 100%;
      }
      .ContornoFondoRedesSociales{
        width: 55%; height: 100%;
      }
      .ContenidoRedesSociales{
        margin-left: 27%;
      }
      .TamañoContenidoRedesSociales{
        width: 100%; height: 100%
      }
      .FondoPantalla{
        min-height:60%;
      }
  }
  
  /* Celular tamaños normales */
  @media (min-width: 500px) and (max-width: 767px) {
    .InputNombreContactanosPortada{
        width: 60%;
        border-radius: 50%;
        border: 1px solid #ccc;
      }
      .EstiloColor {
        position: relative; top: -1px;
      }
      .ContornoFondoTitulo{
        width: 80%; height: 100%;
      }
      .BotonesExtras{
        margin-top: -1%;
      }
      .ContornoFondoRedesSociales{
        width: 80%; height: 100%;
      }
      .ContenidoRedesSociales{
        margin-left: 20%;
      }
      .TamañoContenidoRedesSociales{
        width: 100%; height: 100%
      }
      .FondoPantalla{
        min-height:60%;
      }
  }
    /* Celular pequeños */
  @media (min-width: 321px) and (max-width: 490px) {
    .InputNombreContactanosPortada{
        width: 60%;
        border-radius: 50%;
        border: 1px solid #ccc;
      }
      .EstiloColor {
        position: relative; top: -1px;
      }
      .ContornoFondoTitulo{
      width: 80%; height: 100%;
      }
      .BotonesExtras{
        margin-top: -1%;
      }
      .ContornoFondoRedesSociales{
        width: 80%; height: 100%;
      }
      .ContenidoRedesSociales{
        margin-left: 15%;
      }
      .TamañoContenidoRedesSociales{
        width: 100%; height: 100%
      }
      .FondoPantalla{
        min-height:60%;
      }
  }
      /* Celular muy pequeños */
  @media (max-width: 320px) {
    .InputNombreContactanosPortada{
        width: 60%;
        border-radius: 50%;
        border: 1px solid #ccc;
      }
      .EstiloColor {
        position: relative; top: -1px;
      }
      .ContornoFondoTitulo{
       width: 90%; height: 80%;
      }
      .BotonesExtras{
        margin-top: -1%;
      }
      .ContornoFondoRedesSociales{
        width: 90%; height: 50px;
      }
      .ContenidoRedesSociales{
        margin-left: 9%;
      }
      .TamañoImagenRedSocial{
        width: 70%; height: 30px;
      }
      .TamañoLetraRedSocial{
        margin-left: -18px;
      }
      .FondoPantalla{
        min-height:60%;
      }
      .TextoComoLlegar{
        font-size: 10px
      }
      .DiseñoMapa{
        width: 200px;
      }
  }
  