.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Toma toda la altura de la pantalla */
    background-color: #f4f4f4; 
  }
  
  .login-card {
    width: 400px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
    color: #333333;
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: #555555;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
  }
  
  input:focus {
    border-color: #007BFF;
  }
  
  .error-message {
    color: red;
    margin-bottom: 15px;
    font-weight: bold;
  }
  
  .btn {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  